<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body, .card-header, .form-control, .btn {
            color: white !important;
            font-weight: bold;
        }
    </style>
</head>
<body>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 shadow" style="background-color: transparent;">
                    <div class="card-header text-center fs-5" style="background-color: #261132; color: white">Login</div>
                    <div class="card-body" style="background-color: rgba(255, 255, 255, 0.2); border: 1px solid white;">
                        <form action="/login" method="post">

                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid username or Password
                            </div>

                            <div th:if="${param.logout}" class="alert alert-success">
                                Logout Successfully
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label" style="color: white; font-weight: bold;">Email</label>
                                <input type="text" name="username" id="email" class="form-control"
                                       style="color: white; background-color: rgba(255, 255, 255, 0.2); border: 1px solid white;">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label" style="color: white; font-weight: bold;">Password</label>
                                <input type="password" name="password" id="password" class="form-control"
                                       style="color: white; background-color: rgba(255, 255, 255, 0.2); border: 1px solid white;">
                            </div>

                            <div class="text-center">
                                <button class="btn btn-secondary col-md-6" style="background-color: #261132;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-4" style="color: white; font-weight: bold;">
                <hr>
                <p>Don't have an account? <a href="register" style="color: blue;">Register here</a></p>
            </div>
        </div>
    </div>
</section>
</body>
</html>
